@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-lg;
  }
}

:root {
  --desktop: 1024px;
  --tablet-lg: 840px;
  --tablet: 768px;
  --mobile-lg: 640px;
  --mobile: 480px;

  /* Layout */
  --max-width: var(--desktop);
}

body {
  font-family: var(--font-literata);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-agrandir);
}
